In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('D2.4.49.csv')

In [3]:
data.columns = data.columns.str.replace(' ','_')
data = data.drop(columns=['_PL_File_Size'])
data = data.drop(columns=['_Replication_Window'])
data = data.drop(columns=['_ST_File_Size'])
data = data.fillna(0)

In [4]:
Character_replace = {'-':0}
data.replace(Character_replace,regex=True,inplace=True)

In [5]:
data.head()

,Country,Store,Name,Date,EOD_Start,EOD_Finish,EOD_Duration(s),_Backup_Start,_Backup_End,_Replication_Start,_Replication_End,_Replication_Duration(s),_Deployment_Start,_Deployment_End,_Dep_Duration
0,England UK,1,Basingstoke,22/04/2018,22/04/2018 18:57:59,22/04/2018 20:13:14,4515,22/04/2018 19:19:59,22/04/2018 19:41:55,22/04/2018 19:46:01,22/04/2018 19:48:04,123,0,0,0.0
1,England UK,2,Southampton,22/04/2018,22/04/2018 17:35:48,22/04/2018 20:39:15,11007,22/04/2018 17:58:41,22/04/2018 19:28:50,22/04/2018 19:49:16,22/04/2018 20:00:42,686,22/04/2018 20:01:06,22/04/2018 20:06:16,310.0
2,England UK,3,Isle of Wight,22/04/2018,22/04/2018 17:30:25,0,0,22/04/2018 18:09:25,0,22/04/2018 18:12:41,22/04/2018 18:17:14,273,0,0,0.0
3,Wales UK,5,Port Talbot,22/04/2018,0,0,0,0,0,23/04/2018 09:00:32,23/04/2018 09:02:46,134,0,0,0.0
4,England UK,8,Peterborough,22/04/2018,22/04/2018 17:38:45,22/04/2018 21:01:41,12176,22/04/2018 18:02:20,22/04/2018 18:54:32,22/04/2018 19:06:57,22/04/2018 19:10:51,234,22/04/2018 19:13:13,22/04/2018 19:15:07,114.0

### Deployment Date

D2.4.49 was rolled out on

In [38]:
date = data['Date'].head(1)
date_Deployed = date.to_string().replace("0    "," ")
print("D2.4.49 was deployed on ",date_Deployed)

D2.4.49 was deployed on   22/04/2018

### Regions Deployed

D2.4.49 was Deployed on the Below Regions

In [18]:
region_rolled_out = data.Country.unique()
for elements in region_rolled_out:
    print(elements)

England  UK
Wales  UK
Channel Islands
Scotland  UK
Northern Ireland  UK
Isle of Man

### Max EOD Time

### Min EOD Time

### Average EOD Time

### Max Replication Time

### Min Replication Time

### Average Replication Time

### Max Deployment Time

### Min Deployment Time

### Average Deployment Time

<h3> Succss Failure Distribution</h3>